DB_HOST=''
DB_USER=''
DB_NAME=''
DB_PASS=''
PORT=''
JWT_SECRET=''
COOKIE_NAME=''
COOKIE_SECRET=''
BASE_URL=''
SESSION_EXPIRY_HOURS=8
BROWSER_SECRET=''
SMTP_HOST=''
SMTP_PORT=''
SMTP_USER=''
SMTP_PASS=''

BACKUP_DIR=./backups
BACKUP_SCHEDULE=0 2 * * *
BACKUP_RETENTION_DAYS=30